workflows/new-customer-welcome.json
{
  "name": "New Customer Welcome",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-customer",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "fromEmail": "welcome@yourbusiness.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome aboard, {{ $json.name }}!",
        "text": "Hi {{ $json.name }},\n\nWelcome! We're glad to have you on board.\n\nHere's what happens next:\n1. We'll set up your account within 24 hours\n2. You'll get an onboarding call from our team\n3. We'll send over any resources you need\n\nIf you have questions, just reply to this email.\n\nCheers,\nThe Team"
      },
      "name": "Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Customers!A:D",
        "columns": "Name,Email,Date,Status",
        "values": "={{ $json.name }},={{ $json.email }},={{ $now.format('YYYY-MM-DD') }},New"
      },
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [500, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[
        { "node": "Welcome Email", "type": "main", "index": 0 },
        { "node": "Log to Sheet", "type": "main", "index": 0 }
      ]]
    }
  }
}
